<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nju.zhizaolian" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".activities.OrderDetailActivity"
            android:label="@string/title_activity_add_order_detail"
            android:parentActivityName=".activities.DepartmentSalesActivity" >
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activities.CustomerManagerActivity"
            android:label="@string/customer_manager" >
        </activity>
        <activity
            android:name=".activities.OrderListActivity"
            android:label="@string/title_activity_order_list" >
        </activity>
        <activity
            android:name=".activities.SalesMasterActivity"
            android:label="@string/title_activity_sales_master" >
        </activity>
        <activity
            android:name=".activities.DepartmentSalesActivity"
            android:label="@string/title_activity_sales_department" />
        <activity
            android:name=".activities.DepartmentFinancialActivity"
            android:label="@string/title_activity_department_financial" >
        </activity>
        <activity
            android:name=".activities.DepartmentDesignActivity"
            android:label="@string/title_activity_department_design" >
        </activity>
        <activity
            android:name=".activities.DepartmentProductionActivity"
            android:label="@string/title_activity_department_production" >
        </activity>
        <activity
            android:name=".activities.DepartmentPurchaseActivity"
            android:label="@string/title_activity_department_purchase" >
        </activity>
        <activity
            android:name=".activities.DepartmentSweaterMakerActivity"
            android:label="@string/title_activity_department_sweater_maker" >
        </activity>
        <activity
            android:name=".activities.DepartmentTechnologyActivity"
            android:label="@string/title_activity_department_technology" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.DepartmentQualityActivity"
            android:label="@string/title_activity_department_quality" >
        </activity>
        <activity
            android:name=".activities.DepartmentLogisticActivity"
            android:label="@string/title_activity_department_logistic" >
        </activity>
        <activity
            android:name=".activities.DepartmentSecretaryActivity"
            android:label="@string/title_activity_department_secretary" >
        </activity>
        <activity
            android:name=".activities.OrderShowActivity"
            android:label="@string/title_activity_order_show" >
        </activity>
        <activity
            android:name=".activities.WarehouseScanningActivity"
            android:label="@string/title_activity_warehouse_scanning" >
        </activity>
    </application>

</manifest>
